In [1]:
data_path = '/home/veepee555/Downloads/data-master'

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('TryOutSparkFolks').getOrCreate()
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [3]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [4]:
df1.count()

500000

In [6]:
help(df1.sample)
#df_s1 = df1.sample(fraction=0.1,withReplacement=False)

Help on method sample in module pyspark.sql.dataframe:

sample(withReplacement=None, fraction=None, seed=None) method of pyspark.sql.dataframe.DataFrame instance
    Returns a sampled subset of this :class:`DataFrame`.

    :param withReplacement: Sample with replacement or not (default False).
    :param fraction: Fraction of rows to generate, range [0.0, 1.0].
    :param seed: Seed for sampling (default a random seed).

    .. note:: This is not guaranteed to provide exactly the fraction specified of the total
        count of the given :class:`DataFrame`.

    .. note:: `fraction` is required and, `withReplacement` and `seed` are optional.

    >>> df = spark.range(10)
    >>> df.sample(0.5, 3).count()
    4
    >>> df.sample(fraction=0.5, seed=3).count()
    4
    >>> df.sample(withReplacement=True, fraction=0.5, seed=3).count()
    1
    >>> df.sample(1.0).count()
    10
    >>> df.sample(fraction=1.0).count()
    10
    >>> df.sample(False, fraction=1.0).count()
    10

    .. versionadded:: 1.3

In [ ]:
df_s1.count()

In [7]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|            28.784|
|     loc226| 25.39047619047619|
|     loc463|23.298969072164947|
|     loc150| 32.15094339622642|
|     loc292|28.691358024691358|
|     loc311|             24.47|
|      loc22|28.160919540229884|
|     loc351|28.385416666666668|
|     loc370|29.110091743119266|
|     loc419| 29.42982456140351|
+-----------+------------------+
only showing top 10 rows

In [8]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0| 29.21978021978022|
|       loc1|             27.99|
|      loc10|25.194444444444443|
|     loc100|27.654205607476637|
|     loc101|25.483050847457626|
|     loc102|30.798076923076923|
|     loc103|25.235955056179776|
|     loc104| 26.03488372093023|
|     loc105|26.351063829787233|
|     loc106|              27.2|
+-----------+------------------+
only showing top 10 rows

In [ ]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

In [10]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [11]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|              28.0|
|       loc1|              28.0|
|      loc10|              24.0|
|     loc101|              26.0|
|     loc104|27.333333333333332|
|     loc105|              27.0|
|     loc107|              31.0|
|     loc108|              30.0|
|     loc109|              23.0|
|      loc11|24.333333333333332|
+-----------+------------------+
only showing top 10 rows